@charset "UTF-8";

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.container {
    padding-top: 1rem;
    padding-bottom: 1rem;
}

@media (min-width:576px) {

    .container {
        max-width: 540px
    }
}

@media (min-width:768px) {

    .container {
        max-width: 540px
    }
}

@media (min-width:992px) {

    .container {
        max-width: 540px
    }
}

@media (min-width:1200px) {

    .container {
        max-width: 540px
    }
}

@media (min-width:1400px) {

    .container {
        max-width: 540px
    }
}